@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

@font-face {
  font-family: 'geomanist-regular';
  src: local('geomanist-regular'), url("./fonts/geomanist-regular.ttf") format('truetype');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'NanumPenScript-Regular';
  src: local('NanumPenScript-Regular'), url("./fonts/NanumPenScript-Regular.ttf") format('truetype');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

:root {
  --green: #46ad48;
  --white: #ffffff;
}

*::-webkit-scrollbar-track
{
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

*::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
  left bottom,
  left top,
  color-stop(0.44, #46ad48),
  color-stop(0.72, #46ad48),
  color-stop(0.86, #46ad48));
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

#__next{height: 100%;}

a {
  color: inherit;
  text-decoration: none;
}

* {
  font-family: 'geomanist-regular';
  box-sizing: border-box;
}

img{border-radius: 4px;}

.bold{font-weight: bold;}
.flex{display: flex;}
.flex-center-y{display: flex;align-items: center;}
.text-center{text-align: center;}
.w100{width: 100%;}
button{text-transform: initial!important;}

/*
  Dimensions
*/
.m-0{margin: 0;}
.mt0{margin-top: 0!important;}

/*
  SPECIFICS
*/
.nanum-title{
  font-family: 'NanumPenScript-Regular';
  color: var(--green);
}
.locationLabels{width: 49%;margin-top: 10px;}

.phone-number-input label{display: none;}
.phone-number-input .MuiInput-root{margin-top:0;}
.phone-number-input{
  padding: 16.5px 14px;
  border: 1px solid rgba(0,0,0,0.23);
}