.reservationContainer{
  height: 99%;
}

.reservationContent {
  height:100%;
  display: flex;
  padding: 10px;
  max-width: 1200px;
  margin: 0 auto;
}

.reservationLeft{
  padding-right: 10px;
    width: 70%;

}

.reservationRight{
  height: 100%;
  width: 70%;
}

.reservationTitle{
  font-weight: 700;
  height: 42px;
}

.locationDetailsRight{
  height: 90%; /* fallback if needed */
  height: calc(100% - 42px);
}

.datesAndTotal{
  height: 155px;
}

.detailsRightBottom{
  height:80px
}

.basicCosts{
  height: 85%;
  height:calc(92% - 235px);
  overflow: auto;
  padding-right: 5px;
}

.reservationFooterMobile{
    display: none;
    bottom: 0px !important;
    left: 0px !important;
    position: fixed !important;
    right: 0px !important;
    z-index: 1200 !important;
    background-color: #fff;
    padding: 16px;
    border: 1px solid rgb(221, 221, 221);
    min-height: 80px;
}

.datesMobile{
  width: 60%;
  padding-right:8px;
}
.mobileReserveActions{
  width: 40%;
  text-align: right;
}
.mobileFooterHeightSpace{
  display: none;
}

@media (max-width: 1023px) {
  .reservationTitle{font-size: 30px;}
  .reservationContent {
    flex-direction: column;
  }
  .reservationLeft{
    padding-right: 0px;
    width: 100%;
  }
  .reservationRight{
    width: auto;
  }
  .basicCosts{
    height: initial;
    padding-right: 0px;
    padding-bottom: 100px;
    overflow: initial;
  }
  .reservationFooterMobile{
    display: flex;
    margin-left: 0!important;
  }
  .reservationRight{
    margin-left: 0!important;
  }
  .detailsRightBottom{
    display: none;
  }
  .mobileFooterHeightSpace{
    display: block;
    min-height: 95px;
    height: 95px;
  }
  .datesAndTotal{
    display: none;
  }
}
